@media only screen and (max-width: 1236px) {
        .icons {
        padding-left: 35px;
        padding-right: 35px;
    }
    
        div#opinions {
        padding-left: 100px;
        padding-right: 100px;
    }
    
        #partners {
        width: auto;
    }

@media only screen and (max-width: 768px) {
        .icons {
        padding-left: 25px;
        padding-right: 25px;
    }
        .footer-headers {
        padding-top: 15px;
    }
        #about-homepage, div#opinions {
        padding-left: 30px;
        padding-right: 30px;
        }
}

@media only screen and (max-width: 430px) {
        
        #about-homepage, div#opinions {
        padding-left: 10px;
        padding-right: 10px;
        }
}




