@media(max-width : 77.2em) {
    .icons {
        padding-left: 35px;
        padding-right: 35px;
    }
    #opinions {
        padding-left: 100px;
        padding-right: 100px;
    }
    .left-side {
        padding-left: 20px;
    }
}

@media(max-width : 60em) {
    .list2 {
        padding-top: 0;
    }
    .apartments-page-content-container,
    .hb-resa-summary-content {
        padding: 15px 10px 10px 10px;
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media(max-width : 48em) {
    .icons {
        padding-left: 25px;
        padding-right: 25px;
    }
    .footer-headers {
        padding-top: 15px;
    }
    #opinions {
        padding-left: 10px;
        padding-top: 30px;
        padding-right: 10px;
        padding-bottom: 10px;
        width: 100%;
    }
    #about-homepage,
    .terms {
        padding: 10px 30px;
    }
    .page-main-content {
        padding-left: 25px;
        padding-right: 25px;
    }
    #cracow-pic img { 
        width: 100%;
    }
    .left-side {
        padding-left: 10px;;
    }
    .page-heading {
        text-align: center;
    }
    
    .hb-details-fields p {
        width: 100%;
    
    }
}

@media(max-width : 26em) {
    #about-homepage,
    #opinions,
    .terms{
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
    }
    .page-main-content {
        padding-left: 10px;
        padding-right: 10px;
    }
    .hb-accom-list-item p {
        float: left;
        margin-top: 5px;
    }
}

@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {
    #about-homepage,
    #opinions,
    .terms {
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
    }
    .page-main-content {
        padding-left: 10px;
        padding-right: 10px;
    }
    .left-side {
        padding-left: 20px;
    }
    
     .apartments-page-content-container,
    .hb-resa-summary-content {
        padding: 15px 10px 10px 10px;
        margin-left: 5px;
        margin-right: 5px;
    }
    
    .hb-details-fields p {
        width: 100%;
    }
     
    .hb-accom-list-item p {
        float: left;
        margin-top: 5px;
    }
}